  
/* PATRONES GLOBALES DE CSS */

/* Tipografía Principal */
h1, h2, h3, a, button { font-family: 'Montserrat', sans-serif; }

/* Tipografía Secundaria */
h4, h5, h6, p, form, input, select, option, div, span { font-family: 'Poppins', sans-serif; }

/* Asignación de propiedad display: block; a etiquetas de estructura */
header, main, section, footer, aside, figure, figcaption, nav, div { display: block; }

/* Quitar margen por defecto varias etiquetas de HTML5 */
body, h1, h2, h3, h4, h5, h6, p, figure, img { margin: 0; }



/* CSS Propio */

/* Componente Botón WhatsApp flotante */
aside#boton-wp { width: 45px; height: 45px; margin: 0; float: none; position: fixed; right: 15px; bottom: 15px; z-index: 99998; }
aside#boton-wp a { width: 100%; height: auto; margin: 0; float: none; position: relative; display: block; background: #00bb2d; border-radius: 50%; text-align: center; padding: 10px 0; transition: all 0.3s ease-in; }
aside#boton-wp a i { font-size: 1.5em; line-height: 1em; color: #fff; transition: all 0.3s ease-in; }
aside#boton-wp a:hover { background: #000; transition: all 0.3s ease-in; }
aside#boton-wp a:hover i { color: #00bb2d; transition: all 0.3s ease-in; }


/* Componente Menú Responsive */
aside#menu-moviles { display: none; }

aside#menu-moviles a#abrir-menu {  }
aside#menu-moviles a#abrir-menu i {  }
aside#menu-moviles a#abrir-menu:hover {  }
aside#menu-moviles a#abrir-menu:hover i {  }

aside#menu-moviles a#cerrar-menu {  }
aside#menu-moviles a#cerrar-menu i {  }
aside#menu-moviles a#cerrar-menu:hover {  }
aside#menu-moviles a#cerrar-menu:hover i {  }

aside#menu-moviles nav {  }
aside#menu-moviles nav a {  }
aside#menu-moviles nav a:hover {  }



/* Componente Header con Logo y Menú */
header {}
header article {}

header article figure {}
header article figure a {}
header article figure a img {}

header article nav {}
header article nav a {}
header article nav a:hover {}


/* Caja Main */
main {}


/* Componente Presentación */
main section#empresa {  }
main section#empresa article {  }
main section#empresa article figure {  }
main section#empresa article figure img {  }
main section#empresa article div#info-empresa {  }
main section#empresa article div#info-empresa h2 {  }
main section#empresa article div#info-empresa h1 {  }
main section#empresa article div#info-empresa p {  }
main section#empresa article div#info-empresa a {  }
main section#empresa article div#info-empresa a:hover {  }


/* Componente Servicios 4 Columnas */
main section#servicios { }
main section#servicios article figure { }
main section#servicios article figure img { }
main section#servicios article figure h3{ }
main section#servicios article figure p { }


/* Componente Footer con 4 columnas */
footer {}
footer article {}

footer article div#superior-footer {}
footer article div#superior-footer div.cajas-footer {}
footer article div#superior-footer div.cajas-footer:last-child {}

footer article div#superior-footer div.cajas-footer img {}
footer article div#superior-footer div.cajas-footer p {}
footer article div#superior-footer div.cajas-footer h6 {}

footer article div#superior-footer div.cajas-footer nav#links-contacto {}

footer article div#superior-footer div.cajas-footer nav#links-contacto a {}
footer article div#superior-footer div.cajas-footer nav#links-contacto a:first-child {}

footer article div#superior-footer div.cajas-footer nav#links-contacto a i {}
footer article div#superior-footer div.cajas-footer nav#links-contacto a span {}
footer article div#superior-footer div.cajas-footer nav#links-contacto a:hover {}
footer article div#superior-footer div.cajas-footer nav#links-contacto a:hover i {}
footer article div#superior-footer div.cajas-footer nav#links-contacto a:hover span {}

/* componente botones redes sociales */
footer article div#superior-footer div.cajas-footer nav#links-redes {}
footer article div#superior-footer div.cajas-footer nav#links-redes a {}


/* footer article div#superior-footer div.cajas-footer nav#links-redes a:hover {} */
footer article div#superior-footer div.cajas-footer nav#links-redes a i {}
footer article div#superior-footer div.cajas-footer nav#links-redes a:hover i {}

/* inferior footer */
footer article div#inferior-footer {}
footer article div#inferior-footer p {}
footer article div#inferior-footer p strong {}